mixin Navbar 
  - 
    var menu = [
      { 
        label: 'About Us', 
        link: '#home' 
      },
      { 
        label: 'Product Catalog', 
        link: '#products' 
      },
      { 
        label: 'Contact Us', 
        link: '#contact' 
      }
    ]

  nav#navbar-top.navbar.navbar-expand-lg.py-1(data-navbar-soft-on-scroll)
    .container
      a(href=`${CWD}`).navbar-brand.me-lg-auto.cursor-pointer
        img(src=`${CWD}assets/img/logos/logo.png`, alt="").w-50.w-md-100.img-fluid
  
      button(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler.border-0.pe-0
        span.navbar-toggler-icon
      div#navbarSupportedContent.collapse.navbar-collapse(data-navbar-collapse)
        .container.d-lg-flex.justify-content-lg-end.pe-lg-0.w-lg-100
          ul.navbar-nav.mt-2.mt-lg-1.ms-lg-4.ms-xl-8.ms-2xl-9.gap-lg-x1(data-navbar-nav) 
            each navMenu in menu 
                li.nav-item 
                    a(href=`${navMenu.link}` title=`${navMenu.label}`).nav-link.nav-bar-item.px-0 #{navMenu.label}